.gm-style-iw > div > div {
  padding: 4px 12px 0 0;
}

.iw-title {
  font-size: 1.1em;
  color: #3d3d3d;
  padding: 8px 0 4px 0;
  border-bottom: 1px solid #bab3b4;
}

.iw-title img {
  border-radius: 4px;
  background-color: #5eb3d7;
}

.iw-title h4 {
  margin: 0.3em 0;
}

.iw-category {
  margin-top: 4px;
  padding: 2px 6px;
  font-weight: 500;
  font-size: 1.1em;
  color: #fff;
  background-color: #2284b9;
}

.iw-address {
  text-align: left;
  line-height: 0.5em;
  font-style: normal;
}
