.list-location {
  position: absolute;
  top: 0; left: 0;
  width: 300px;
  height: 100%;
  background-color: #3d3d3d;
  z-index: 40;
  -webkit-box-shadow: 5px 0px 7px -4px rgba(0,0,0,0.5);
  -moz-box-shadow: 5px 0px 7px -4px rgba(0,0,0,0.5);
  box-shadow: 5px 0px 7px -4px rgba(0,0,0,0.5);
  overflow: hidden;
}

.list-title {
  position: fixed;
  top: 0; left:0; right: 0;
  height: 48px;
  width: 300px;
  background-color: #2284b9;
}

.list-title h1 {
  color: #fff;
  font-weight: normal;
  font-size: 1.2em;
  margin-top: 14px;
}

.list-location input {
  margin-top: 64px;
  padding: 8px;
  width: 280px;
  border: none;
}

input:focus {
  outline: #fcc914 solid 4px;
}

.list-location ul {
  position: absolute;
  top: 120px;
  bottom: 0;
  left: 0;
  right: -17px;
  overflow-y: scroll;
  list-style: none;
  padding: 0;
  margin-top: 16px;
  color: #fff;
}

.list-location li {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #595959;
  cursor: pointer;
}

.list-location li:last-child {
  margin-bottom: 200px;
}

.list-location li:hover,
.list-location li:active {
  background-color: #2284b9;
}

.list-location li:focus {
  outline: none;
}

.loc-item:focus {
  background-color: #2284b9;
}

.list-location a {
  position: fixed;
  bottom: 1em;
  left: 2em;
  width: 200px;
  padding: 6px;
}

.list-location a:focus {
  outline: 2px solid #595959;
}

@media (max-width: 768px) {
  .list-title {
    height: 60px;
  }

  .list-title h1 {
    font-size: 1.3em;
    margin: 20px 0 0 40px;
  }

  .list-location input {
    margin-top: 70px;
    height: 50px;
    width: 280px;
    border: none;
  }

  .list-location ul {
    font-size: 1.2em;
  }

  .list-location li {
    padding: 14px;
  }
}


/* Animation */
.slide-list-enter {
  opacity: 0;
  transform: translate(-300px,0);
}

.slide-list-enter.slide-list-enter-active {
	opacity: 1;
	transform: translate(0,0);
  transition: all 0.3s ease-in;
}

.slide-list-leave {
	opacity: 1;
	transform: translate(0,0);
  transition: all 0.3s ease-out;
}

.slide-list-leave.slide-list-leave-active {
	opacity: 0;
	transform: translate(-300px,0);
}
