.App {
  text-align: center;
  margin: 0;
  padding: 0;
}

.App-header {
  background-color: #514447;
  padding: 4px;
  color: #fff;
}

.App-title {
  font-size: 1.2em;
}

.App-intro {
  font-size: large;
}
